.queda{
   background-image: url(skier.png);
   background-position: -84px -320px;
   width: 32px;
   height: 25px;
}

.died {
   background-image: url(skier.png);
   background-position: -242px -270px;
   width: 30px;
   height: 29px;
}

.para-esquerda {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.para-direita {
    background-image: url(skier.png);
    background-position: -26px -6px;
    width: 22px;
    height: 28px;
 }

.para-frente {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

.dog{
   background-image: url(skier.png);
   background-position: 0px -204px;   
   width: 20px;
   height: 20px;   
   position: absolute;
}

.rock{
   background-image: url(obstacles.png);
   background-position: -30px -31px;   
   width: 28px;
   height: 32px;   
   position: absolute;
}
.tree_trunk{
   background-image: url(obstacles.png);
   background-position: -254px -31px;   
   width: 17px;
   height: 32px;   
   position: absolute;
}

.big_tree {
   background-image: url(obstacles.png);
   background-position: -96px -66px;   
   width: 32px;
   height: 64px;   
   position: absolute;
}

.tree {
   background-image: url(obstacles.png);
   background-position: -0px -31px;   
   width: 28px;
   height: 32px;   
   position: absolute;
}

.flame_brush{
    background-position: -24px -103px;
    position: absolute;
    background-image: url(obstacles.png);
    width: 22px;
    height: 27px;
}

.mushroom{

    background-position: -271px -52px;
    position: absolute;
    background-image: url(obstacles.png);
    width: 8px;
    height: 11px;
}


#montanha {
   border: 1px solid black;
   position: relative;
   overflow: hidden;
   float: left;
}

#skier {
   position: absolute;
}


#panel{
    width: 20em;
    height: 5rem;
    border: 1px solid;
    background-color:white;
    float: left;
}