body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('sp.jpg');
    background-color: #AAAAFF;
}

.internalContainer {
    border: 10px solid #AAAAFF;
    border-radius: 10px 10px 10px 10px;
    padding: 3% 3%;
    box-shadow: 4px 4px 10px 2px gray,
    2px 2px 4px 2px gray inset;
    margin: 5% 5%;
    width: 40%;
    height: 45%;
    min-width: 40%;
    min-height: 350px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    background-color: rgba(100, 100, 255, 100);
}

.titleImplant {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}

.almosttransparent {
    opacity: 0.3;
}

.almostopaque {
    opacity: 0.9;
}